Package: net.exchen.preferencestweak
Name: preferencestweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: exchen
Author: exchen
Section: Tweaks
